---
import { Button } from "@/components/UI/Button"
import { Icon } from "@/components/UI/Icon"
---

<form method="post" action="/api/auth/logout">
  <Button aria-label="Sign Out" variant="ghost">
    <Icon.SignOut aria-label="Sign Out" className="mr-2" />
    Sign Out
  </Button>
</form>
