---

---

<style is:global>
  .popover-link {
    padding: 4px 8px;
    border-radius: 0.75rem;
    :hover {
      background: hsl(var(--foreground) / 10);
    }
  }
</style>
<script src="src/scripts/user/user-menu.ts"></script>
<div id="user-menu-wrapper" class="items-center flex"></div>
