---
// import EditVideoEmbedForm from "@/components/Dashboard/VideoEmbed/DashboardEditVideoEmbedForm"
import DashboardLayout from "@/layouts/DashboardLayout.astro"
import { getVideoEmbedById } from "@/lib/action/video-embed"

const user = Astro.locals.user
const DB = Astro.locals.runtime.env.DB

if (!user?.role?.includes("admin" || "author")) {
  return Astro.redirect("/")
}
const { videoEmbedId } = Astro.params
const videoEmbed = await getVideoEmbedById(DB, videoEmbedId!)
if (!videoEmbed) {
  return Astro.redirect("/404")
}
---

<DashboardLayout
  locale="id"
  seo={{
    title: "Edit Video Embed",
    description: "Edit Video Embed",
    canonical: `${import.meta.env.PUBLIC_SITE_URL}/dashboard/video-embed/edit/${videoEmbedId}`,
    openGraph: {
      basic: {
        title: `Edit Video Embed | `,
        url: `${import.meta.env.PUBLIC_SITE_URL}/dashboard/video-embed/edit/${videoEmbedId}`,
        type: "website",
        image: "",
      },
      optional: {
        description: "Edit Video Embed",
        locale: "ID",
      },
    },
  }}
>
  <div class="mx-4 flex w-full flex-col">
    <div class="mb-[100px] mt-4 flex items-end justify-end">
      <div class="flex-1 space-y-4">
        <!-- <EditVideoEmbedForm videoEmbed={videoEmbed!} client:load /> -->
      </div>
    </div>
  </div></DashboardLayout
>
