---
import MainLayout from "@/layouts/MainLayout.astro"

import "@/styles/globals.css"

const user = Astro.locals.user
---

<script>
  import { trpc } from "@/utils"

  const publicValue = document.getElementById(
    "public-greeting-value",
  ) as HTMLElement
  const privateValue = document.getElementById(
    "private-greeting-value",
  ) as HTMLElement

  try {
    const dataPrivate = await trpc.example.private.query()
    privateValue.innerHTML = dataPrivate
  } catch (error) {
    const dataPublic = await trpc.example.public.query()
    publicValue.innerText = dataPublic
  }
</script>

<MainLayout>
  <div class="flex items-center justify-center min-h-screen">
    <div class="w-15em">
      <Auth>
        {
          !user ? (
            <div class="space-y-4">
              <a href="/login/google">Sign in with Google</a>
            </div>
          ) : (
            <div class="space-y-4">
              <p
                class="text-center text-xl font-600"
                id="private-greeting-value"
              />
              <form method="post" action="/api/logout">
                <button>Sign out</button>
              </form>
            </div>
          )
        }
      </Auth>
    </div>
  </div>
</MainLayout>
