---
import CreateDownloadForm from "@/components/Dashboard/Download/DashboardCreateDownloadForm"
import DashboardLayout from "@/layouts/DashboardLayout.astro"

const user = Astro.locals.user

if (!user?.role?.includes("admin" || "author")) {
  return Astro.redirect("/")
}
---

<DashboardLayout
  locale="id"
  seo={{
    title: "Create Download",
    description: "Create Download",
    canonical: `${import.meta.env.PUBLIC_SITE_URL}/dashboard/download/new`,
    openGraph: {
      basic: {
        title: `Create Download | `,
        url: `${import.meta.env.PUBLIC_SITE_URL}/dashboard/download/new`,
        type: "website",
        image: "",
      },
      optional: {
        description: "Create Download",
        locale: "ID",
      },
    },
  }}
>
  <div class="mx-4 flex w-full flex-col">
    <div class="mb-[100px] mt-4 flex items-end justify-end">
      <div class="flex-1 space-y-4">
        <CreateDownloadForm session={user} client:load />
      </div>
    </div>
  </div></DashboardLayout
>
