---
import { Button } from "@/components/UI/Button"
import { Textarea } from "@/components/UI/Textarea"
import DashboardLayout from "@/layouts/DashboardLayout.astro"
import { getSettingByKey } from "@/lib/action/setting"

const user = Astro.locals.user
const DB = Astro.locals.runtime.env.DB
const data = await getSettingByKey(DB, "robots_txt")

let settings

if (data) {
  const parsedData = JSON.parse(data.value)
  settings = { ...parsedData }
}
if (!user?.role?.includes("admin" || "author")) {
  return Astro.redirect("/")
}
---

<DashboardLayout
  locale="id"
  seo={{
    title: "Robots.txt Setting",
    description: "Robots.txt Setting",
    canonical: `${import.meta.env.PUBLIC_SITE_URL}/dashboard/setting/robots`,
    openGraph: {
      basic: {
        title: `Robots.txt Setting | `,
        url: `${import.meta.env.PUBLIC_SITE_URL}/dashboard/setting/robots`,
        type: "website",
        image: "",
      },
      optional: {
        description: "Robots.txt Setting",
        locale: "ID",
      },
    },
  }}
>
  <div class="mx-4 flex w-full flex-col">
    <div class="mb-[100px] mt-4 flex items-end justify-end">
      <div class="flex-1 space-y-4">
        <h1>Robots.txt Settings</h1>
        <hr />
        <form id="form-robots-txt" method="POST">
          <div class="mb-3 space-y-3">
            <label>robots.txt data</label>
            <Textarea
              id="robots_txt"
              name="robots_txt"
              defaultValue={settings.robots_txt}
              className="max-w-xl"
              placeholder="Enter robots.txt"
              required
            />
          </div>

          <Button aria-label="Submit"> Submit </Button>
        </form>
      </div>
    </div>
  </div>
</DashboardLayout>
<script is:inline>
  const formEl = document.getElementById("form-robots-txt")

  if (formEl) {
    formEl.addEventListener("submit", async function (event) {
      event.preventDefault()

      const robotsTxt = document.getElementById("robots_txt").value

      const keyValues = {
        key: "robots_txt",
        value: JSON.stringify({ robots_txt: robotsTxt }),
      }
      await fetch("/api/setting/upsert", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(keyValues),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.error) {
            document.dispatchEvent(
              new CustomEvent("showNotification", {
                detail: {
                  message: "somthing error went updating robots.txt",
                  type: "warning",
                },
              }),
            )
          } else {
            document.dispatchEvent(
              new CustomEvent("showNotification", {
                detail: {
                  message: "robots.txt has been updated",
                  type: "success",
                }, // success, warning, danger
              }),
            )
          }
        })
        .catch((error) => {
          console.error("Error:", error)
          document.dispatchEvent(
            new CustomEvent("showNotification", {
              detail: {
                message: "something error went updating robots.txt",
                type: "warning",
              },
            }),
          )
        })
    })
  }
</script>
