---
import { Icon } from "@/components/UI/Icon"
---

<style is:global>
  html #dark-icon {
    display: none;
  }
  html #light-icon {
    display: block;
  }
  html.dark .theme-button {
    transform: translateX(100%);
  }
  html.dark #dark-icon {
    display: block;
  }
  html.dark #light-icon {
    display: none;
  }
</style>

<script is:inline>
  const r = window.matchMedia("(prefers-color-scheme: dark)")
  let toggle = r.matches ? "dark" : localStorage.getItem("theme") ?? "light"

  const toggleTheme = () => {
    const newTheme = toggle === "light" ? "dark" : "light"
    document.dispatchEvent(new CustomEvent("set-theme", { detail: newTheme }))
    toggle = newTheme
  }
</script>

<div class="flex items-center justify-center">
  <div
    id="dark-mode-switcher"
    onclick="toggleTheme()"
    class={`relative flex h-7 w-[52px] items-center rounded-full bg-border transition duration-200 ease-linear`}
  >
    <button
      class={`theme-button border-1 absolute left-0 mx-[2px] flex h-6 w-6  cursor-pointer items-center justify-center rounded-full bg-background transition duration-100 ease-linear`}
    >
      <Icon.Dark id="dark-icon" aria-label="Dark Theme" className="h-4 w-4" />
      <Icon.Light
        id="light-icon"
        aria-label="Light Theme"
        className="hidden h-4 w-4"
      />
    </button>
  </div>
</div>
